<nav class="navbar navbar-expand-md navbar-dark bg-primary" id="filtros">
    
    <div class="container-fluid">
      <div class="row">      

        <form #filterForm="ngForm" (ngSubmit)="submit()">
            <div class="navbar-collapse w-100">

                <select name="selectCompeticion" ngModel #selectCompeticion="ngModel" (change)="changeCompetition(selectCompeticion.value)">
                    <option value="">Cualquiera</option>
                    <option *ngFor="let c of competitions" value={{c.objectid}}>{{c.name}}</option>
                </select>

                <select name="selectClub" ngModel #selectClub="ngModel" (change)="changeClub(selectClub.value)">
                    <option value="">Cualquiera</option>
                    <option *ngFor="let c of clubs"  value = {{c.objectid}} >{{c.name}}</option>                          
                </select>

                <select ngModel name="selectPosicion" #selectPosicion="ngModel" (change)="changePosition(selectPosicion.value)">
                    <option value="">Cualquiera</option>
                    <option value="GK">GK</option>
                    <option value="RWB">RWB</option>
                    <option value="RB">RB</option>
                    <option value="CB">CB</option>
                    <option value="LB">LB</option>
                    <option value="LWB">LWB</option>
                    <option value="CDM">CDM</option>
                    <option value="RM">RM</option>
                    <option value="CM">CM</option>
                    <option value="LM">LM</option>
                    <option value="CAM">CAM</option>
                    <option value="RW">RW</option>
                    <option value="CF">CF</option>
                    <option value="ST">ST</option>
                    <option value="LW">LW</option>
                </select>

                <label for="MinAge" style="margin-left: 5px; margin-right: 5px;">Age:</label>
                <p style="margin-left: 5px; margin-right: 5px;">{{minage}}</p>
                <input type="range" ngModel name="MinAge" #MinAge="ngModel" min=15 max={{maxage}} (change)="setMinAge(MinAge.value)">

                <input type="range" ngModel name="MaxAge" #MaxAge="ngModel" min={{minage}} max="50" (change)="setMaxAge(MaxAge.value)">
                <p style="margin-left: 5px; margin-right: 5px;">{{maxage}}</p>
                
                <label for="MinValue" style="margin-left: 5px; margin-right: 5px;">Value:</label>
                <p style="margin-left: 5px; margin-right: 5px;">{{minvalue}}</p>
                <input type="range" ngModel name="MinValue" #MinValue="ngModel" min="0" max={{maxvalue}} (change)="setMinValue(MinValue.value)">

                <input type="range" ngModel name="MaxValue" #MaxValue="ngModel" min={{minvalue}} max="500000000" (change)="setMaxValue(MaxValue.value)">
                <p style="margin-left: 5px; margin-right: 5px;">{{maxvalue}}</p>
                
                    
                <input type="text" ngModel name="buscarNombre" #buscarNombre="ngModel" class="form-control mr-sm-2"  placeholder="Search" aria-label="Search" (change)="changeName(buscarNombre.value)">
                <button type="submit" class="btn btn-outline-light btn-block">Buscar</button>
            </div>

        </form>

        <div id="listaJugadores" class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Age</th>
                        <th>Positions</th>
                        <th>Value</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                <tbody>
                    <!-- <tr *ngFor="let p of players | paginate: {itemsPerPage: 7, currentPage: p}; let i = index" (click)="open(content, fut)"> -->
                        <tr *ngFor="let p of players | paginate: {itemsPerPage: 7, currentPage: p}; let i = index">
                        <td><img src={{p.photo}}></td>
                        <td>{{p.name}}</td>
                        <!-- <td *ngIf="getOwner(p.objectid).objectid != this.currentTeam.objectid && getOwner(p.objectid) != 'free'">{{getOwner(p.objectid).name}}</td>
                        <td *ngIf="getOwner(p.objectid).objectid == this.currentTeam.objectid"><button (click) = "sellPlayer(p.objectid)"> Vender</button></td>
                        <td *ngIf="getOwner(p.objectid) == 'free'"><button (click) = "buyPlayer(p.objectid)">Comprar</button></td> -->
                        <td>{{p.age}}</td>
                        <td>{{p.positions}}</td>
                        <td>${{p.value}}</td>
                        <td>{{p.points}}</td>
                      </tr>
                </tbody>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </table>
        </div>
      </div>   
    </div>
</nav>

