#filtros {
    opacity: .9;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: darkgray;
}

b{
    color: white;
}
table table td{
    color: white !important;
}


td {
    opacity: 1;
}

td:hover {
    opacity: 0.7;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


#imagenJugador {
    float: left;
    background-color: black;
}

#imagenJugador img {
    height: 300px;
    border-radius: 50%;

}

#infoJugador {
    float: left;
    background-color: black;
    color: white;
}

#estadisticas{
    overflow-y: scroll;
    width: 100%;
    height: 300px;

}

::ng-deep .my-class .modal-dialog { 
    max-width: 80%;
    width: 80%;
}